.nav-top {
  position: fixed;
  top: 1%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  padding-inline: var(--pd-x);
  padding-block: 10px;

  z-index: 999;

  max-width: 800px;

  transition: 0.4s all ease-in-out;
}

.nav-top.scrolled {
  top: 1%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);

  transform-origin: center;

  background: rgb(255, 255, 255);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5rem;
}

.nav-top.scrolled .logo {
  color: var(--clr-primary);
}

.logo {
  color: var(--clr-light);
  font-size: var(--fs-500);
}

.user-info {
  background: var(--lg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  color: var(--clr-light);
  font-weight: 600;
  font-size: 0.9rem;
}
