.icon-wrapper {
  width: 10px !important;
  height: 10px !important;

  padding: 30px;

  border-radius: 50%;

  box-shadow: var(--bs-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: var(--fs-600);
  width: 20px !important;
  height: 20px !important;
}
